*{
    margin: 0;
    padding: 0;
}
h1{
    margin: 50px 0 50px 0;
    color: rgb(254, 242, 191);
    font-size: 50px;
    font-family: "Press Start 2P";
}

.row{
    display: flex;
    margin-bottom: 50px;
    padding-left: 34%;
}

body{
    background-color: rgb(1, 31, 63);
    text-align: center;
}


.green{
    width: 200px;
    height: 200px;
    background-color: green;
    margin-right: 50px;
    border-radius: 30px;
    border: solid black 10px;
}

.red{
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 30px;
    border: solid black 10px;
}

.yellow{
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin-right: 50px;
    border-radius: 30px;
    border: solid black 10px;
}

.blue{
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 30px;
    border: solid black 10px;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }

  .game-over {
    background-color: red;
    opacity: 0.8;
  }

  footer{
    font-size: 14px;
    font-family: "Press Start 2P";
    color: rgb(254, 242, 191);
  }

